[submodule "external/musashi"]
	path = external/musashi
	url = https://github.com/kstenerud/Musashi
[submodule "external/amitools"]
	path = external/amitools
	url = https://github.com/cnvogelg/amitools
[submodule "external/lide.device"]
	path = external/lide.device
	url = https://github.com/LIV2/lide.device
[submodule "external/ODFileSystem"]
	path = external/ODFileSystem
	url = https://github.com/reinauer/ODFileSystem
